@mixin ghost_button(
  $color: #00418c,
  $color--hover: desaturate(lighten(#00418c, 10%), 20%)
) {
  background: transparent;
  color: $color;
  font-weight: 400;
  border-color: $color;

  &:hover,
  &:active {
    background: $color--hover;
    color: #fff;
    border-color: $color--hover;
  }
}

.Button {
  $component: &;

  background: #00418c;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 3rem; // match height of inputs
  padding: 0.6rem 1rem;
  border: 2px solid transparent;
  border-radius: 3px;
  position: relative;
  cursor: pointer;

  &,
  &:hover,
  &:active {
    transition: background 0.3s ease;
  }

  &:hover,
  &:active {
    background: desaturate(lighten(#00418c, 10%), 20%);
  }

  &:active {
    top: 2px;
  }

  &:focus {
    outline: 2px solid rgba(#50a0ff, 0.8);
    outline-offset: 2px;
  }

  &--ghost {
    @include ghost_button();
  }

  &--secondary {
    background: #007e8a;

    &:hover,
    &:active {
      background: desaturate(lighten(#007e8a, 10%), 20%);
    }

    &#{$component}--ghost {
      @include ghost_button(#007e8a, desaturate(lighten(#007e8a, 10%), 20%));
    }
  }
}
