@import '../../sass/colors';
@import '../../sass/typography';

@mixin ghost_button($color: $button--primary, $color--hover: $hover--primary) {
  // These styles override base button styles
  background: transparent;
  color: $color;
  font-weight: 400;
  border-color: $color;

  &:hover,
  &:active {
    background: $color--hover;
    color: #fff;
    border-color: $color--hover;
  }
}

.Button {
  $component: &;
  @include typography-button();

  background: $button--primary;
  height: 3rem; // match height of inputs
  padding: 0.6rem 1rem;
  border: 2px solid transparent;
  border-radius: 3px;
  position: relative;
  cursor: pointer;

  &,
  &:hover,
  &:active {
    transition: background 0.3s ease;
  }

  &:hover,
  &:active {
    background: $hover--primary;
  }

  &:active {
    top: 2px;
  }

  &:focus {
    outline: 2px solid $focus;
  }

  &--ghost {
    @include ghost_button();
  }

  &--fullWidth {
    width: 100%;
  }

  &--small {
    font-size: 0.8rem;
    height: auto;
    padding: 0.5rem 1rem;
  }

  &--secondary {
    background: $button--secondary;

    &:hover,
    &:active {
      background: $hover--secondary;
    }

    &#{$component}--ghost {
      @include ghost_button($button--secondary, $hover--secondary);
    }
  }

  &:disabled {
    background: #e6e6e6;
    color: #888;
    border-color: #e6e6e6;
    cursor: inherit;
  }
}
