.Button {
  background: #00418c;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 2px;
  position: relative;
  cursor: pointer;

  &,
  &:hover,
  &:active {
    transition: background 0.3s ease;
  }

  &:hover,
  &:active {
    background: desaturate(lighten(#00418c, 10%), 20%);
  }

  &:active {
    top: 2px;
  }

  &:focus {
    outline: 2px solid rgba(#50a0ff, 0.8);
    outline-offset: 2px;
  }
}
