@mixin build-columns($number, $size) {
  @for $i from 1 through $number {
    $width: percentage($i / 12);

    .u-#{$size}-cols#{$i} {
      width: calc(#{$width} - 1rem);
    }
  }
}

.Grid {
  display: flex;
  flex-wrap: wrap;

  &-item {
    margin: 0.5rem;
    display: flex;
  }
}

@include build-columns(12, 'sm');

@media (min-width: 1024px) {
  @include build-columns(12, 'lg');
}
