.ValueProp {
  &:first-child,
  &:last-child {
    padding: 0;
  }

  &-title {
    color: #444;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
  }

  &-text {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
  }

  &--centered {
    text-align: center;
  }
}
