@import '../../sass/colors';
@import '../../sass/typography';

.ValueProp {
  &:first-child,
  &:last-child {
    padding: 0;
  }

  &-title {
    @include typography-heading($size: 'small');
  }

  &-text {
    @include typography-base();
    line-height: 1.6;
  }

  &--centered {
    text-align: center;
  }
}
