.ValueProp {
  &:first-child,
  &:last-child {
    padding: 0;
  }

  &-title {
    color: #444;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    margin-top: 0;
  }

  &-text {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    line-height: 1.6;
  }

  &--centered {
    text-align: center;
  }

  &--oneHalf {
    width: 48%;
  }

  &--oneThird {
    width: 30%;
  }

  &--oneFourth {
    width: 23%;
  }
}
