@import '../../sass/typography';

.Hero {
  &-title,
  &-text {
    margin: 0 0 1rem;
  }

  &-title {
    @include typography-heading();
  }

  &-text {
    @include typography-base();
    line-height: 1.6;
    margin-bottom: 1.5rem; // override margin on text elements
  }

  &--centered {
    text-align: center;
  }
}
