.Hero {
  &-title,
  &-text {
    font-size: 1rem;
    margin: 0 0 1rem;
  }

  &-title {
    color: #333;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 400;
  }

  &-text {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin-bottom: 1.5rem; // override margin on text elements
  }

  &--centered {
    text-align: center;
  }
}
