@import '../../sass/variables/colors';

.Card {
  background: $bg;
  padding: 1rem;
  border: 1px solid $border--light;
  border-radius: 3px;
  box-shadow: -2px 2px 10px $shadow;
  box-sizing: border-box;

  &--fullBleed {
    padding: 0; // turn off default padding
  }
}
