@import '../../sass/colors';
@import '../../sass/typography';

.TextField {
  $component: &;

  &-input,
  &-label,
  &-errorMsg {
    @include typography-base();
  }

  background: $bg;
  height: 3rem;
  padding: 0.8rem 0.5rem;
  border: 1px solid $border;
  border-radius: 3px;
  position: relative;
  box-sizing: border-box;
  cursor: text;

  &.has-error {
    border-color: $theme--error;
  }

  &:focus-within {
    border-color: $focus;
  }

  &-label,
  &-input {
    display: block;
  }

  &-input {
    background: transparent;
    width: calc(100% - 1rem);
    border: 0;
    outline: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.4rem 0.5rem 0.35rem;
  }

  &-label {
    color: $text--dark;
    transition: transform 0.1s ease-in, font-size 0.1s ease-in;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateY(0.8rem);

    #{$component}-input:focus + &,
    #{$component}.has-value & {
      color: $text;
      font-size: $font-size--small;
      transition-timing-function: ease-out, ease-out;
      transform: translateY(0.2rem);
    }
  }

  &-errorMsg {
    color: $theme--error;
    font-size: $font-size--small;
    margin: 0.5rem 0.5rem 0;
    display: none;

    #{$component}.has-error + & {
      display: block;
    }
  }
}
