@import '../../sass/colors';
@import '../../sass/typography';

.ArticlePreview {
  width: 100%;

  &-date,
  &-text {
    @include typography-base();
  }

  &-date {
    font-size: $font-size--small;
    margin: 0;
  }

  &-header {
    font-family: $font--heading;
  }

  &-title {
    line-height: 1.4;
    margin: 0 0 0.5rem;

    &-link {
      @include typography-link();
    }
  }

  &-text {
    margin: 0 0 1rem;
  }
}
