@import '../../sass/variables/colors';

.SiteMenu {
  &-item {
    color: $text;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    padding: 0.5rem 0.75rem;

    &:hover,
    &:active {
      color: $text--primary;
    }

    &:focus {
      outline: 2px solid $focus;
    }
  }
}
