@import '../../sass/colors';
@import '../../sass/typography';

.SiteMenu {
  &-item {
    @include typography-base();
    text-decoration: none;
    padding: 0.5rem 0.75rem;

    &:hover,
    &:active {
      color: $text--primary;
    }

    &:focus {
      outline: 2px solid $focus;
    }
  }
}
