.SiteMenu {
  &-item {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    padding: 0.5rem 0.75rem;

    &:hover,
    &:active {
      color: #00418c;
    }

    &:focus {
      outline: 2px solid rgba(#50a0ff, 0.8);
    }
  }
}
